<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <meta charset="utf-8">
    <title>Hydra</title>
    <%= vite_stylesheet_tag :application %>
    <%= vite_client_tag %>
    <%= csrf_meta_tag %>
  </head>
  <body class="h-full" data-authenticated="<%= user_signed_in? %>">
    <div id="app"></div>
    <%= vite_javascript_tag :application %>
  </body>
</html>
